body {
    background-color: #242423;
    font-family:Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 5px solid #131313;
    width:fit-content;
    padding: 10px;
    background-color: #333533;
}

button {
    padding: 10px;
    background-color: #E8EDDF;
    border-radius: 5px;
}


.row {
    display: flex;
}

.button-wrapper {
    display: flex;
    width: 100%;
}

.button-wrapper button {
    flex: 1;
    margin: 5px;
}

/* Specific flex values for buttons */
#btn-clear {
    flex: 3; /* Takes up 3/4 of the row */
    background-color: #CFDBD5;
}

#btn-divide {
    flex: 1; /* Takes up 1/4 of the row */
}

#btn-0 {
    flex: 2; /* Takes up 1/2 of the row */
}

#btn-equals {
    flex: 2; /* Takes up 1/2 of the row */
}


#title {
    color: #E8EDDF;
    width: fit-content;
}

h1, h2 {
    margin: 5px;
    font-weight: normal;
}
h2 {
    font-size:medium;
}

#display {
    width: 100%;
    background-color: #131313;
    color:#E8EDDF;
    padding: 5px;
    padding-right: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: right;
}

.operator {
    background-color: #E8EDDF;
}

.num {
    background-color: #F5CB5C;
    border-color: #F5CB5C
}